body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f9fa;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 70px;
}

.anotation__box {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.anotation {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 10px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  display: inline-block;
}

.section__title {
  color: #495057;
  font-family: "Lora";
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-align: left;
}

.header {
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 70px;
  height: 20px;
}
.header .header__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__info > :not(:last-child) {
  position: relative;
  margin-right: 34px;
}
.header .header__info > :not(:last-child)::after {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 20px;
  right: -17px;
  top: 50%;
  transform: translateY(-50%);
  background: #e5e5e5;
}
.header .nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav__list-item {
  color: #e5e5e5;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  position: relative;
}
.header .nav__list-item:not(:last-child) {
  margin-right: 25px;
}
.header .nav__list-item:active {
  color: #ffffff;
}
.header .nav__list-item:active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #d4a373;
}
.header .social__list {
  display: flex;
  align-items: center;
}
.header .social__list-item {
  display: flex;
  text-align: center;
  align-items: center;
}
.header .social__list-item:not(:last-child) {
  margin-right: 18px;
}
.header .social__icon {
  width: 20px;
  height: 20px;
  fill: #e5e5e5;
  text-align: center;
}
.header .search__icon {
  width: 20px;
  height: 20px;
  fill: #e5e5e5;
}

.hero {
  background-color: lightgray;
  background-size: 50%;
  background-image: url("../images/hero_bgd.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #343a40;
  padding: 278px 0 140px 0;
  text-align: left;
  width: 100%;
}
.hero .anotation {
  text-align: left;
  margin-bottom: 15px;
}
.hero .hero-title {
  color: #ffffff;
  font-family: "Lora";
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 15px;
}
.hero .hero-description {
  display: flex;
  align-items: baseline;
}
.hero .hero-description time {
  color: #e5e5e5;
  font-family: "Lora";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  position: relative;
  margin-right: 70px;
}
.hero .hero-description time::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  top: 50%;
  right: -50px;
  background: #e5e5e5;
}
.hero .hero-description p {
  color: #e5e5e5;
  font-family: "Lora";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.topic {
  width: 100%;
  padding: 150px 0px;
}
.topic .section__title {
  margin-bottom: 30px;
}

.topic__btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.topic__btns .topic__actions {
  display: flex;
}
.topic__btns .topic__actions .actions__btn {
  color: #495057;
  font-family: "Lora";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
  border: none;
  background: transparent;
  text-transform: capitalize;
}
.topic__btns .topic__actions .actions__btn:active {
  color: #d4a373;
}
.topic__btns .all__topics-btn {
  color: #495057;
  font-family: "Lora";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
  border: none;
  background: transparent;
  text-transform: capitalize;
}
.topic__btns .all__topics-btn:active {
  color: #d4a373;
}

.topic__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-top: -50px;
}

.topic__list-item {
  flex-basis: calc((100% - 80px) / 4);
  margin-left: 20px;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 5px;
}

.topic__card {
  text-align: left;
}
.topic__card .card__img-box {
  position: relative;
  width: 100%;
}
.topic__card .card__img-box .card__img {
  border-radius: 5px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4c4c4;
}
.topic__card .card__content {
  padding: 20px;
}
.topic__card .card__content .card__date {
  color: #6c757d;
  font-family: "Lora";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  display: inline-block;
  margin-bottom: 15px;
}
.topic__card .card__content .card__title {
  color: #495057;
  font-family: "Lora";
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
  max-height: 50px;
  overflow: hidden;
  margin-bottom: 15px;
}
.topic__card .card__content .card__description {
  color: #6c757d;
  font-family: "Lora";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  position: relative;
  max-height: 60px;
  overflow: hidden;
  margin-bottom: 45px;
}
.topic__card .card__content .card__description::after {
  content: "";
  width: 100%;
  height: 0.5px;
  background-color: #e5e5e5;
  position: absolute;
  left: 0;
  bottom: -20px;
}
.topic__card .card__content .topic__card-author {
  display: flex;
}
.topic__card .card__content .topic__card-author .author__img {
  margin-right: 17px;
}
.topic__card .card__content .topic__card-author .author__description .author__title {
  color: #343a40;
  font-family: "Lora";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
}
.topic__card .card__content .topic__card-author .author__description .author__position {
  color: #6c757d;
  font-family: "Lora";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  max-height: 20px;
  overflow: hidden;
}

.chapter {
  width: 100%;
  background-image: url("../images/bgd_chapter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #343a40;
  padding: 178px 0;
}
.chapter .anotation {
  margin-bottom: 24px;
}
.chapter .chapter-title {
  color: #ffffff;
  font-family: "Lora";
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 12px;
}
.chapter .chapter-description p {
  position: relative;
  color: #e5e5e5;
  font-family: "Lora";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 40px;
}
.chapter .chapter-description p::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  left: 50%;
  bottom: -24px;
  transform: translate(-50%, 0);
  background: #e5e5e5;
}
.chapter .chapter-description time {
  color: #e5e5e5;
  font-family: "Lora";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

.editor {
  padding: 150px 0;
}
.editor .section__title {
  margin-bottom: 70px;
}

.editor__list {
  display: flex;
  margin-left: -20px;
}

.editor__list-item {
  flex-basis: calc((100% - 60px) / 3);
  margin-left: 20px;
}

.editor__card {
  position: relative;
}
.editor__card .card__content {
  position: absolute;
  top: 50%;
  text-align: left;
  padding: 0 40px;
}
.editor__card .card__content time {
  color: #e5e5e5;
  font-family: "Lora";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  display: inline-block;
  margin-bottom: 15px;
}
.editor__card .card__content .card__title {
  color: #ffffff;
  font-family: "Lora";
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
  max-height: 50px;
  overflow: hidden;
  margin-bottom: 15px;
}
.editor__card .card__content .card__description {
  color: #e5e5e5;
  font-family: "Lora";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  max-height: 60px;
  overflow: hidden;
}

.connection {
  background-color: #212529;
  text-align: left;
  padding: 106px 0;
}
.connection .wrapper {
  display: flex;
  flex-direction: row;
}
.connection .connection__title {
  color: #ffffff;
  font-family: "Lora";
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
  margin-bottom: 15px;
}
.connection .contacts {
  margin-right: 142px;
}
.connection address {
  color: #e5e5e5;
  font-family: "Lora";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}
.connection address a {
  color: #e5e5e5;
  font-family: "Lora";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  display: block;
}
.connection address a:not(:last-child) {
  margin-bottom: 18px;
}
.connection .explorate {
  margin-right: 247px;
}
.connection .explorate__list {
  color: #e5e5e5;
  font-family: "Lora";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
.connection .explorate__list :not(:last-child) {
  margin-bottom: 18px;
}
.connection .headquarter {
  margin-right: 220px;
}
.connection .social__list {
  display: flex;
  align-items: center;
}
.connection .social__list .social__list-item {
  display: flex;
  text-align: center;
  align-items: center;
}
.connection .social__list .social__list-item:not(:last-child) {
  margin-right: 18px;
}
.connection .social__list .social__icon {
  width: 20px;
  height: 20px;
  fill: #e5e5e5;
  text-align: center;
}

.footer {
  background-color: #343a40;
  padding: 41px 0;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__description {
  color: #e5e5e5;
  font-family: "Lora";
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
.footer .subscribe {
  border: none;
  background: transparent;
  color: #e5e5e5;
  font-family: "Lora";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}/*# sourceMappingURL=styles.css.map */