.anotation__box {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
}

.anotation {
    @include text($primary-text-color, 'Roboto', 10px, 700);
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
    display: inline-block;
}
