@mixin text($color, $ff, $fsz, $fw, $fst: normal, $lh: normal) {
    color: $color;
    font-family: $ff;
    font-size: $fsz;
    font-weight: $fw;
    font-style: $fst;
    line-height: $lh;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}
