$header-main-text-color: #e5e5e5;
$primary-text-color: #ffffff;
$secondary-text-color: #e5e5e5;
$primary-card-text-color: #6c757d;
$secondary-card-text-color: #343a40;
$title-card-text-color: #495057;
$fill-header-icons: #e5e5e5;
$bgd-picture-section: #343a40;
$bgd-topic-img: #c4c4c4;
$bgd-topic-card: #ffffff;
$active-action-btn: #d4a373;
$bgd-connection: #212529;
