.chapter {
    width: 100%;
    background-image: url('../images/bgd_chapter.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $bgd-picture-section;
    padding: 178px 0;

    .anotation {
        margin-bottom: 24px;
    }

    .chapter-title {
        @include text($primary-text-color, 'Lora', 36px, 700);
        margin-top: 0;
        margin-bottom: 12px;
    }

    .chapter-description {
        p {
            position: relative;
            @include text(
                $secondary-text-color,
                'Lora',
                12px,
                400,
                normal,
                20px
            );
            margin-top: 0;
            margin-bottom: 40px;

            &::after {
                content: '';
                position: absolute;
                width: 30px;
                height: 1px;
                left: 50%;
                bottom: -24px;
                transform: translate(-50%, 0);
                background: $secondary-text-color;
            }
        }

        time {
            @include text($secondary-text-color, 'Lora', 12px, 400);
        }
    }
}
