.connection {
    background-color: $bgd-connection;
    text-align: left;
    padding: 106px 0;

    .wrapper {
        display: flex;
        flex-direction: row;
    }

    .connection__title {
        @include text($primary-text-color, 'Lora', 18px, 700, normal, 25px);
        margin-bottom: 15px;
    }

    .contacts {
        margin-right: 142px;
    }

    address {
        @include text($secondary-text-color, 'Lora', 12px, 400, normal, 20px);
        & a {
            @include text($secondary-text-color, 'Lora', 12px, 400);
            display: block;

            &:not(:last-child) {
                margin-bottom: 18px;
            }
        }
    }

    .explorate {
        margin-right: 247px;
    }

    .explorate__list {
        @include text($secondary-text-color, 'Lora', 12px, 400);

        :not(:last-child) {
            margin-bottom: 18px;
        }
    }

    .headquarter {
        margin-right: 220px;
    }

    .social__list {
        display: flex;
        align-items: center;

        .social__list-item {
            display: flex;
            text-align: center;
            align-items: center;
            &:not(:last-child) {
                margin-right: 18px;
            }
        }

        .social__icon {
            @include size(20px, 20px);
            fill: $fill-header-icons;
            text-align: center;
        }
    }
}
