.editor {
    padding: 150px 0;

    .section__title {
        margin-bottom: 70px;
    }
}

.editor__list {
    display: flex;
    margin-left: -20px;
}

.editor__list-item {
    flex-basis: calc((100% - 60px) / 3);
    margin-left: 20px;
}

.editor__card {
    position: relative;

    .card__content {
        position: absolute;
        top: 50%;
        text-align: left;
        padding: 0 40px;

        time {
            @include text($secondary-text-color, 'Lora', 12px, 400);
            display: inline-block;
            margin-bottom: 15px;
        }

        .card__title {
            @include text($primary-text-color, 'Lora', 18px, 700, normal, 25px);
            max-height: 50px;
            overflow: hidden;
            margin-bottom: 15px;
        }

        .card__description {
            @include text(
                $secondary-text-color,
                'Lora',
                12px,
                400,
                normal,
                20px
            );
            max-height: 60px;
            overflow: hidden;
        }
    }
}
