.footer {
    background-color: $bgd-picture-section;
    padding: 41px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__description {
        @include text($secondary-text-color, 'Lora', 14px, 700);
    }

    .subscribe {
        border: none;
        background: transparent;
        @include text($secondary-text-color, 'Lora', 14px, 400);
    }
}
