.header {
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 70px;
        height: 20px;
    }

    .header__info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > :not(:last-child) {
            position: relative;
            margin-right: 34px;

            &::after {
                content: '';
                position: absolute;
                width: 0.5px;
                height: 20px;
                right: -17px;
                top: 50%;
                transform: translateY(-50%);
                background: $fill-header-icons;
            }
        }
    }

    .nav__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__list-item {
        @include text($header-main-text-color, 'Roboto', 12px, 700);
        text-transform: capitalize;
        position: relative;

        &:not(:last-child) {
            margin-right: 25px;
        }

        &:active {
            color: $primary-text-color;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
                background: #d4a373;
            }
        }
    }
    .social__list {
        display: flex;
        align-items: center;
    }

    .social__list-item {
        display: flex;
        text-align: center;
        align-items: center;
        &:not(:last-child) {
            margin-right: 18px;
        }
    }

    .social__icon {
        @include size(20px, 20px);
        fill: $fill-header-icons;
        text-align: center;
    }

    .search__icon {
        @include size(20px, 20px);
        fill: $fill-header-icons;
    }
}
