.hero {
    background-color: lightgray;
    background-size: 50%;
    background-image: url('../images/hero_bgd.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $bgd-picture-section;
    padding: 278px 0 140px 0;
    text-align: left;
    width: 100%;

    .anotation {
        text-align: left;
        margin-bottom: 15px;
    }
    .hero-title {
        @include text($primary-text-color, 'Lora', 36px, 700);
        margin-top: 0;
        margin-bottom: 15px;
    }

    .hero-description {
        display: flex;
        align-items: baseline;

        & time {
            @include text($secondary-text-color, 'Lora', 12px, 400);
            position: relative;
            margin-right: 70px;

            &::after {
                content: '';
                position: absolute;
                width: 30px;
                height: 2px;
                top: 50%;
                right: -50px;
                // margin-left: 10px;
                // margin-right: 50px;
                background: $secondary-text-color;
            }
        }

        & p {
            @include text(
                $secondary-text-color,
                'Lora',
                12px,
                400,
                normal,
                20px
            );
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
