.topic {
    width: 100%;
    padding: 150px 0px;

    .section__title {
        margin-bottom: 30px;
    }
}

.topic__btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .topic__actions {
        display: flex;

        .actions__btn {
            @include text(
                $title-card-text-color,
                'Lora',
                12px,
                700,
                normal,
                25px
            );
            border: none;
            background: transparent;
            text-transform: capitalize;

            &:active {
                color: $active-action-btn;
            }
        }
    }

    .all__topics-btn {
        @include text($title-card-text-color, 'Lora', 12px, 700, normal, 25px);
        border: none;
        background: transparent;
        text-transform: capitalize;

        &:active {
            color: $active-action-btn;
        }
    }
}

.topic__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: -50px;
}

.topic__list-item {
    flex-basis: calc((100% - 80px) / 4);
    margin-left: 20px;
    margin-top: 50px;
    background-color: $bgd-topic-card;
    border-radius: 5px;
}

.topic__card {
    text-align: left;

    .card__img-box {
        position: relative;
        width: 100%;

        .card__img {
            border-radius: 5px;
            background-size: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: $bgd-topic-img;
        }
    }

    .card__content {
        padding: 20px;

        .card__date {
            @include text($primary-card-text-color, 'Lora', 12px, 400);
            display: inline-block;
            margin-bottom: 15px;
        }

        .card__title {
            @include text(
                $title-card-text-color,
                'Lora',
                18px,
                700,
                normal,
                25px
            );
            max-height: 50px;
            overflow: hidden;
            margin-bottom: 15px;
        }

        .card__description {
            @include text(
                $primary-card-text-color,
                'Lora',
                12px,
                400,
                normal,
                20px
            );

            position: relative;
            max-height: 60px;
            overflow: hidden;
            margin-bottom: 45px;

            &::after {
                content: '';
                width: 100%;
                height: 0.5px;
                background-color: $fill-header-icons;
                position: absolute;
                left: 0;
                bottom: -20px;
            }
        }

        .topic__card-author {
            display: flex;

            .author__img {
                margin-right: 17px;
            }

            .author__description {
                .author__title {
                    @include text(
                        $secondary-card-text-color,
                        'Lora',
                        12px,
                        700,
                        normal,
                        20px
                    );
                }

                .author__position {
                    @include text(
                        $primary-card-text-color,
                        'Lora',
                        12px,
                        400,
                        normal,
                        20px
                    );
                    max-height: 20px;
                    overflow: hidden;
                }
            }
        }
    }
}
